#newsRoomLinks {
    height: 30px;
    background-color: #0099d0;
    margin-top: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;height: auto;
}

#newsRoomLinks p {
    color: #fff;
    font-size: 1em;
    float: left;
    margin-top: 5px;
    padding: 2px 2px 5px 8px; 
    margin-bottom: 0;
}

#newsRoomLinks img {
    float: right;
    margin: 5px;
}

#bulletins {    width: 100%;
    background-color: #F2F2F2;}

    #bulletins .bulletinsInner .headerText {
    display: inline-block;
    font-weight: normal;
    font-size: 0.8em;
    color: white;
    text-transform: uppercase;
    background-color: #333399;
    padding: 8px;
    margin-top: -6px;
    margin-left: 10px;
    border: 1px solid rgb(222, 213, 206);
    border-radius: 5px;
}

#bulletins .bulletinsInner {
    display: block;
    position: relative;
    border: 1px solid rgb(222, 213, 206);
    border-radius: 5px;
    background-color: white;
    margin: 10px auto 10px auto;
    width: 96%;
    padding: 5px 5px 5px 5px; }